@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Icon Sizing*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons {padding: 0; margin: 0;}

.all-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;

    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.sidebar > ul {
    list-style-type: none;
    font-size: 20px;
}

.sidebar > ul > li {
    margin-bottom: 20px;
}

.header {
    border: 5px solid black;
    grid-column-start: 2;
    grid-column-end: 5;
}

.topHeaderSection {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 40%;
}

.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    border-radius: 50px;
    border: 0px;
    background-color: lightgrey;
    opacity: 50%;
    width: 80%;
    height: 30px;
    padding: 10px;
    margin-left: 20px;
}

.userSection {
    border: 1px solid green;
    display: flex;
    align-items: center;
}

.main-content {
    border: 5px solid purple;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}

