* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.all-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
    border: 5px solid green;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.header {
    border: 5px solid black;
    grid-column-start: 2;
    grid-column-end: 5;
}

.main-content {
    border: 5px solid purple;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}